## Importação das bibliotecas utilizadas

In [1]:
import mysql.connector as sql
import pandas as pd
import random
import csv
from tqdm import tqdm
from datetime import datetime, timedelta

## Funções de conexão com banco

In [2]:
# Cria a conexão com o banco
def conexao():
    conn = sql.connect(host = 'localhost', user = '', passwd = '', database = 'projeto_gama')
    if conn == False:
        print('Conexão mal sucedida!')
    return conn

# Inicializa a conexão
conn = conexao()

# Executa um comando no banco
def query(comando, conexao = conn):
    cursor = conexao.cursor()
    cursor.execute(comando)
    conexao.commit()
    return cursor

# Insere um novo registro na tabela dm_postos
def inserir_posto(razao_posto, cnpj_posto, endereco_posto, bairro_posto, cep_posto, uf_posto, municipio_posto, nota_posto):
    query(f"""INSERT INTO dm_postos VALUES (null, '{razao_posto}', '{cnpj_posto}', '{endereco_posto}', '{bairro_posto}',
    '{cep_posto}', '{uf_posto}', '{municipio_posto}', '{nota_posto}')""")

# Insere um novo registro na tabela dm_data
def inserir_data(data_completa, dia_data, mes_data, ano_data, nome_mes_data, trmst_data, semst_data):
    query(f"""INSERT INTO dm_data VALUES (null, '{data_completa}', '{dia_data}', '{mes_data}', '{ano_data}',
    '{nome_mes_data}', '{trmst_data}', '{semst_data}')""")

# Insere um novo registro na tabela dm_funcionario
def inserir_funcionario(nome_func, cargo_func, salario_func, id_posto, nota_func):
    query(f"""INSERT INTO dm_funcionarios VALUES (null, '{nome_func}', '{cargo_func}', '{salario_func}' , '{id_posto}', '{nota_func}')""")

# Insere um novo registro na tabela dm_combustiveis
def inserir_comb(id_comb, id_data, nome_comb, tipo_comb, custo_comb, revenda_comb):
    query(f"""INSERT INTO dm_combustiveis (id_comb, id_data, nome_comb, tipo_comb, custo_comb, revenda_comb)
    VALUES ('{id_comb}', '{id_data}', '{nome_comb}', '{tipo_comb}' , '{custo_comb}', '{revenda_comb}')""")

# Insere um novo registro na tabela pr_vendas
def inserir_vendas(id_data, id_posto, id_func, id_comb, qtd_lts, valor_venda):
    query(f"""INSERT INTO pr_vendas VALUES 
    (null, '{id_data}', '{id_posto}', '{id_func}', '{id_comb}' , '{qtd_lts}', '{valor_venda}')""")

# Retorna o id de um funcionário pelo id do seu posto
def busca_func(posto):
    df = pd.read_sql_query(f""" SELECT id_func FROM dm_funcionarios WHERE id_posto = '{posto}' and cargo_func = 'Frentista' """, conn)
    return df

# Retorna o preço de um combustível em determinada data
def busca_comb(comb, data):
    df = pd.read_sql_query(f""" SELECT revenda_comb FROM dm_combustiveis WHERE id_comb = '{comb}' and id_data = '{data}' """, conn)
    return df

## Inserção de dados no banco

#### Tabela DM_POSTOS
- O código abaixo lê um arquivo csv com informações de postos Ipiranga reais, extraído do site da ANP, e insere na tabela dm_postos

In [8]:
df = pd.read_csv('base_postos.csv', sep = ';') # Cria um dataframe com as informações dos postos
for i in df.itertuples():
    razao = i[1]
    cnpj = i[2]
    endereco = i[3]
    bairro = i[4]
    cep = i[5]
    uf = i[6]
    mun = i[7]
    nota = random.randint(3, 10)
    inserir_posto(razao, cnpj, endereco, bairro, cep, uf, mun, nota)

#### Tabela DM_DATA
- O código abaixo cria uma lista de datas desde 01/01/2021 até 30/11/2023 e insere na tabela dm_data

In [5]:
list_datas = [(datetime(2021, 1, 1) + timedelta(days=n)).strftime('%Y-%m-%d') 
              for n in range((datetime(2023, 11, 30) - datetime(2021, 1, 1)).days + 1)]

for i in range(len(list_datas)):
    data = list_datas[i]
    dia = int(list_datas[i].split('-')[2])
    mes =  int(list_datas[i].split('-')[1])
    ano = int(list_datas[i].split('-')[0])
    
    if int(list_datas[i].split('-')[1]) == 1:
        nome_mes = 'Jan'
        trmst = 1
        semst = 1
    elif int(list_datas[i].split('-')[1]) == 2:
        nome_mes = 'Fev'
        trmst = 1
        semst = 1
    elif int(list_datas[i].split('-')[1]) == 3:
        nome_mes = 'Mar'
        trmst = 1
        semst = 1
    elif int(list_datas[i].split('-')[1]) == 4:
        nome_mes = 'Abr'
        trmst = 2
        semst = 1
    elif int(list_datas[i].split('-')[1]) == 5:
        nome_mes = 'Mai'
        trmst = 2
        semst = 1
    elif int(list_datas[i].split('-')[1]) == 6:
        nome_mes = 'Jun'
        trmst = 2
        semst = 1
    elif int(list_datas[i].split('-')[1]) == 7:
        nome_mes = 'Jul'
        trmst = 3
        semst = 2
    elif int(list_datas[i].split('-')[1]) == 8:
        nome_mes = 'Ago'
        trmst = 3
        semst = 2
    elif int(list_datas[i].split('-')[1]) == 9:
        nome_mes = 'Set'
        trmst = 3
        semst = 2
    elif int(list_datas[i].split('-')[1]) == 10:
        nome_mes = 'Out'
        trmst = 4
        semst = 2
    elif int(list_datas[i].split('-')[1]) == 11:
        nome_mes = 'Nov'
        trmst = 4
        semst = 2
    else:
        nome_mes = 'Dez'
        trmst = 4
        semst = 2
        
    inserir_data(data, dia, mes, ano, nome_mes, trmst, semst)

#### Tabela DM_FUNCIONARIOS
- O código abaixo cria uma lista de nomes aleatórios, cargo e salário e uma nota de avaliação e insere na tabela dm_funcionarios

In [9]:
primeiros_nomes = ["João", "Maria", "Pedro", "Ana", "Roberto", 'Carlos', 'Tatiana', 'Patricia', 'Ricardo', 'Aline'] 
nomes_meio = ["Silva", "Oliveira", "Santos", 'Ferreira', 'Pereira', 'Cerqueira']
sobrenomes = ["da Silva", "dos Santos", "Oliveira", 'da Costa', 'Rodrigues']

cargos = ['Frentista', 'Atendente', 'Gerente', 'Assistente Administrativo']

salarios = [3199, 2220, 4517, 3496]

# Gerar uma lista de nomes completos
nomes_completos = [
    f"{random.choice(primeiros_nomes)} {random.choice(nomes_meio)} {random.choice(sobrenomes)}"
    for _ in range(len(df))
]

cont = len(df)
for i in range(1, cont):
    for x in range(5):
        nome_func = random.choice(nomes_completos)
        cargo_func = random.choice(cargos)
        if cargo_func == 'Frentista':
            salario_func = salarios[0]
        elif cargo_func == 'Atendente':
            salario_func = salarios[1]
        elif cargo_func == 'Gerente':
            salario_func = salarios[2]
        elif cargo_func == 'Assistente Administrativo':
            salario_func = salarios[3]
        id_posto = i
        nota = random.randint(3, 10)
        
        inserir_funcionario(nome_func, cargo_func, salario_func, id_posto, nota)

#### Tabela DM_COMBUSTIVEIS
- O código abaixo lê um arquivo csv com informações sobre os combustíveis e insere na tabela dm_combustiveis

In [7]:
combs = pd.read_csv('base_custos.csv', sep = ';')
for i in combs.itertuples():
    id_comb = i[1]
    id_data = i[2]
    nome_comb = i[3]
    tipo_comb = i[4]
    custo_comb = i[5]
    revenda_comb = (custo_comb * 1.25)
    inserir_comb(id_comb, id_data, nome_comb, tipo_comb, custo_comb, revenda_comb)

#### Tabela PR_VENDAS
- O código abaixo cria registros de vendas e insere na tabela pr_vendas

In [1]:
for data in tqdm(range(366, 1065)):
    for posto in range(1, 318):
        for x in range(random.randint(15, 21)):
            id_data = data
            id_posto = posto
            for i in busca_func(posto).itertuples():
                ls = []
                ls.append(i[1])
            id_func = ls[random.randint(0, len(ls)-1)]
            id_comb = random.randint(1, 7)
            if id_comb == 2 or id_comb == 6:
                qtd_lts = round(random.uniform(10.0, 1000.0), 2)
            else:
                qtd_lts = round(random.uniform(5.0, 100.0), 2)
            preco_revenda = float(busca_comb(id_comb, data).sum())
            valor_venda = round((qtd_lts * preco_revenda), 2)
            
            inserir_vendas(id_data, id_posto, id_func, id_comb, qtd_lts, valor_venda)